<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="header"><h2>Create A Note</h2></div>
  <div class="form_container">
    <form class="pure-form" action="/create" method="POST">
      <fieldset class="pure-group">
          <input type="text" class="pure-input-1-2" placeholder="name" name="name">
      </fieldset>

      <fieldset class="pure-group">
          <input type="text" class="pure-input-1-2" placeholder="title" name="title">
          <br>
          <textarea class="pure-input-1-2" placeholder="note" name="note"></textarea>
      </fieldset>
      <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Create</button>
    </form>
  </div>
</body>
</html>